*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    display: grid;
    grid-template-columns: 50px 20px 2fr 40px;
}

label.mostrarOpc{
    grid-column: 4;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav{
    grid-row: 1 / span 2;
    grid-column: 1;
    text-align: center;
    transition: 0.8s ease-in-out;
}
.nav a{
    display: block;
}
.avatar{
    width: 40px;
    border-radius: 50%;
}

#menu, #profile, #elements, #forms{
    display: none;
    z-index: 100;
}
label{
    cursor: pointer;
}
.menuProfile{
    background-color: #fff;
    position: absolute;
    right: 25px;
    top: 30px;
    width: 80px;
    display: none;
}
.menuProfile a{
    padding: 5px;
    display: block;
}
#profile:checked ~ .menuProfile{
    display: block;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    gap: 10px;
}
main{
    height: 100vh;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    grid-column: 2 / span 4;
}
.item{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px lightgray;
}
.item5{
    grid-column:  span 4;
}
.subMenu, .subMenuForms{
    display: none;
}
#elements:checked ~ .subMenu{
    display: block;
}
#elements:checked ~ .mostrarElements p{
    background-color: rgb(61, 121, 212);
    width: 100px;
    height: 25px;
    border-radius: 10px;
    padding: 3px;
    align-content: center;
    text-align: center;
}
#forms:checked ~ .subMenuForms{
    display: block;
}
#forms:checked ~ .mostrarForms p{
    background-color: rgb(61, 121, 212);
}
.body:has(#menu:checked){
    grid-template-columns: 1fr 20px 2fr 40px;
}
#menu:not(:checked) ~ .nav .logo h2{
    display: none;
}